/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Typography*/
h1, h2, h3, h4, h5, h6, p, a, li{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

/*Body*/
.subscribe{
	margin: 0;
}

/*Navigation Bar*/
nav{
	border-bottom: 1px solid #ccc;
}

.main-nav  {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

.main-nav .logo{
	float: left;
	height: 40px;
	width: 100px;	
	border-right: 1px solid #ccc;
}

.logo img{
	margin: 8px 0px 8px 0px;
}

.main-menu{
	height: 40px;
	width: 700px;	
	margin-left: 210px;
}

.main-menu  li{
	float: left;
	list-style: none;
	height: 40px;
	padding: 0px 14px 0px 14px;	
	border-left: 1px solid #ccc;
}

.main-menu a{
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: black;
	display: inline-block;
	margin-top: 15px;	
}

/*Section*/
.content {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

header{
	height: 60px;
	border-bottom: 1px solid #ccc;
}

h1{
	font-size: 40px;
	color: black;
	padding-top: 15px;
	padding-bottom: 15px;
}

article{
	height: 600px;
	float: left;
	width: 400px;
}

aside{
	height: 600px;
	float: right;
	width: 500px;
}

.image{
	padding: 80px 0px 100px 20px;
}

.sign-up{
	
	height: 150px;
}

.sign-up h1{
	font-weight: bold;
	color: black;
	font-size: 24px;
}

.sign-up p{
	font-size: 14px;
	color: #505050;
}

.email {
	height: 80px;
}

.email h2{
	background: white;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
	height: 25px;
}

.email .email-form{
	height: 50px;
}

.email-form input{
	height: 40px;
	width: 370px;
	background: #e4e4e4;
	padding-left: 15px;
	font-weight: bold;
	font-size: 12px;
	border: none;
}

.country {
	height: 80px;
	/*background: https://image.exct.net/lib/fe9713707565037c7d/m/1/down2.gif (new-arrow.png) no-repeat right black;*/
	margin-top: 10px;
}

.country h2{
	background: white;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
	height: 25px;
}

select{
	height: 40px;
	width: 370px;
	background: #e4e4e4;
	border: none;
	position: relative;
}
.country img{
	position: absolute;
	left: 500px;
	/*background: transparent
	overflow: hidden;
	*/
}
.checkbox input {
	height: 12px;
	width: 12px;
	float: left;
	cursor: pointer;
}

.checkbox p{
	font-size: 13px;
	color: #505050;
}

.subscribe-info {
	height: 100px;
	margin-top: 20px;
}

p{
	font-size: 14px;
	color: #505050;
}

.submit {
	height: 80px;
}

.submit input{
	height: 40px;
	width: 90px;
	background: #124e84;
	color: white;
	font-weight: bold;
	border: 0;
	font-size: 18px;
	text-align: left;
}

/*Footer*/
footer{
	height: 200px;
	clear: both;
	margin-top: 700px;
}

.main-footer{
	margin-left: auto;
	margin-right: auto;
	background: #646464;
	height: 120px;
	width: 900px;
}

.external-links{
	float: left;
	width: 350px;
	height: 120px;
}

.left-wrapper{
	margin: 20px 0px 0px 20px;
}

.left-wrapper a, .left-wrapper p{
 	text-decoration: none;
 	color: white;
 	font-family: sans-serif;
 	margin-top: 10px;
 	font-size: 12px;
 }

 .left-wrapper a:hover {
 	border-bottom: 1px solid white;
 }

.more-info{
	width: 550px;
	height: 120px;
	float: right;
}

.left-info, .middle-info, .right-info{
	height: 120px;
	width: 183px;
	float: left;
	margin-top: 15px;
}

.left-info ul li, .middle-info ul li, .right-info ul li{
	font-size: 12px;
	font-weight: normal;
	display:block;
	margin-top: 10px;
}

.left-info a, .middle-info a, .right-info a{
	text-decoration: none;
	color: white;
}

 .right-wrapper a:hover {
 	border-bottom: 1px solid white;
 }