.subscribe{
	margin: 0;
	

}
nav{
	height: 38px;
	width: 1200px;
	/*background: red;*/
	float: left;
	border-bottom: 1px solid #ccc;
}

.main-nav  {
	float: left;
}

.main-nav .logo{
	float: left;
	height: 38px;
	width: 130px;
	/*background: gold;*/
	border-right: 1px solid #ccc;
	margin-left: 100px;

}
.logo ul {
	list-style: none;	
}

.main-menu{
	height: 38px;
	width: 800px;
	/*background: orange;*/
	margin-left: 300px;
	margin-top: 0px;
	padding-top: 0px;
}



.main-menu  li{
	float: left;
	list-style: none;
	height: 38px;
	width: 50px;
	padding-left: 20px;
	border-left: 1px solid #ccc;
	/*background: teal;*/
	
}

.main-menu a{
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 12px;
	color: black;
	/*float: left;*/
}