/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.subscribe{
	margin: 0;
}

nav{
	border-bottom: 1px solid #ccc;
}

.main-nav  {
	margin-left: auto;
	margin-right: auto;
	background: cyan;
	max-width: 900px;

	/*LEFT OFF HERE*/
}

.main-nav .logo{
	float: left;
	height: 40px;
	width: 200px;
	background: gold;
	border-right: 1px solid #ccc;


}

.main-menu{
	height: 38px;
	width: 800px;
	/*background: orange;*/
	margin-left: 300px;
	margin-top: 0px;
	padding-top: 0px;
}



.main-menu  li{
	float: right;
	list-style: none;
	height: 38px;
	width: 50px;
	padding-left: 20px;
	border-left: 1px solid #ccc;
	/*background: teal;*/
	
}

.main-menu a{
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 12px;
	color: black;
	/*float: left;*/
}